# Docs
*.md
!README.md

# Build
build/
output/
cmake-build-*/

# pixi environments
.pixi/*
!.pixi/config.toml

# Cache
.cache/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
